{% extends 'base/base.html' %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">
    {% if messages %}
    {% for message in messages  %}
    <div class='alert alert-{{message.tags}}'>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{fidelik.isim}}</h1>
        <div>
        <a href={% url 'deleteCustomer' customer_pk=fidelik.pk %} class="btn btn-danger"> Sil<a/>
        <a href={% url 'changeCustomer' customer_pk=fidelik.pk %} class="btn btn-success "> Fideliği Güncelle </a>
    </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Fidelik İsmi </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fidelik.isim}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Adresi</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fidelik.adres}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Makina Sayısı </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fidelik.mak_sayisi}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Makina </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fidelik.makine}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Karıştırıcı</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fidelik.karistirici}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Viyoller </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fidelik.viyoller}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Yetkili </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fidelik.yetkili}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Telefon </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fidelik.tel}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Mail </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fidelik.mail}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Content Row -->

   

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<hr>
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Notlar</h1>

            <a class="btn btn-success " href="#" data-toggle="modal" data-target="#notModal">
                Not Ekle
            </a>
    </div>
       <!-- Content Row -->
       {% for item in nots  %}
       <div class="row">
    <div class="col-xl-12 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-1  text-gray-800">{{item.tarih}} <a class='btn btn-danger' href={% url 'deleteNot' not_pk=item.pk %}>Sil</a></div>
                        <div class="h4 mb-0 font-weight-bold text-gray-800">{{item.konu}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>

<!-- Not Modal-->
<div class="modal fade" id="notModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Not Ekle </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <form method="POST">
        {% csrf_token %}
    <div class="modal-body">
        {{form.konu}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-dark" type="button" data-dismiss="modal">İptal</button>
        <input type="submit" value="Ekle" class="btn btn-success" ></input>
    </div>
</form>
</div>
</div>
</div>


{% endblock content %}